<div style="text-align: center; padding-top: 6px">
  {{{ logo }}}
</div>
<div style="padding-left: 6px;">
  <br />
    <h2>
       <strong>Olá {{ courier }}</strong>
    </h2>
    <p>Existe uma nova encomenda, segue os dados abaixo:</p>
  <p>
    <strong>Destinatário:</strong> {{ recipient }} <br />
    <strong>Cidade/Estado:</strong> {{ cidade }}/{{ estado }} <br />
    <strong>CEP:</strong> {{ cep }} <br />
    <strong>Endereço:</strong> {{ rua }} <strong>nº:</strong> {{ numero }}
    <strong>Complemento:</strong> {{ complemento }}
  <br />
    <strong>Produtos: </strong> {{ product }}
  <br />
  <br />
    <small>
      O pacote está disponível, favor efetuar sua retirada no horário comercial!
    </small>
  </p>
</div>

